
 <models>
            <sales>
                <class>Mage_Sales_Model</class>
                <resourceModel>sales_resource</resourceModel>
            </sales>
            <sales_entity>
                <class>Mage_Sales_Model_Entity</class>
                <entities>
                    <quote>
                        <table>sales_quote</table>
                    </quote>
                    <quote_address>
                        <table>sales_quote_address</table>
                    </quote_address>
                    <quote_item>
                        <table>sales_quote_item</table>
                    </quote_item>
                    <quote_entity>
                        <table>sales_quote_entity</table>
                    </quote_entity>
                    <quote_temp>
                        <table>sales_quote_temp</table>
                    </quote_temp>
                    <order>
                        <table>sales_order</table>
                    </order>
                    <order_entity>
                        <table>sales_order_entity</table>
                    </order_entity>
                </entities>
            </sales_entity>
            <sales_resource>
                <class>Mage_Sales_Model_Resource</class>
                <deprecatedNode>sales_mysql4</deprecatedNode>
                <entities>
                    <quote>
                        <table>sales_flat_quote</table>
                    </quote>
                    <quote_item>
                        <table>sales_flat_quote_item</table>
                    </quote_item>
                    <quote_address>
                        <table>sales_flat_quote_address</table>
                    </quote_address>
                    <quote_address_item>
                        <table>sales_flat_quote_address_item</table>
                    </quote_address_item>
                    <quote_item_option>
                        <table>sales_flat_quote_item_option</table>
                    </quote_item_option>
                    <quote_payment>
                        <table>sales_flat_quote_payment</table>
                    </quote_payment>
                    <quote_address_shipping_rate>
                        <table>sales_flat_quote_shipping_rate</table>
                    </quote_address_shipping_rate>
                    <order>
                        <table>sales_flat_order</table>
                    </order>
                    <order_grid>
                        <table>sales_flat_order_grid</table>
                    </order_grid>
                    <order_item>
                        <table>sales_flat_order_item</table>
                    </order_item>
                    <order_address>
                        <table>sales_flat_order_address</table>
                    </order_address>
                    <order_payment>
                        <table>sales_flat_order_payment</table>
                    </order_payment>
                    <order_status_history>
                        <table>sales_flat_order_status_history</table>
                    </order_status_history>
                    <order_status>
                        <table>sales_order_status</table>
                    </order_status>
                    <order_status_state>
                        <table>sales_order_status_state</table>
                    </order_status_state>
                    <order_status_label>
                        <table>sales_order_status_label</table>
                    </order_status_label>
                    <invoice>
                        <table>sales_flat_invoice</table>
                    </invoice>
                    <invoice_grid>
                        <table>sales_flat_invoice_grid</table>
                    </invoice_grid>
                    <invoice_item>
                        <table>sales_flat_invoice_item</table>
                    </invoice_item>
                    <invoice_comment>
                        <table>sales_flat_invoice_comment</table>
                    </invoice_comment>
                    <shipment>
                        <table>sales_flat_shipment</table>
                    </shipment>
                    <shipment_grid>
                        <table>sales_flat_shipment_grid</table>
                    </shipment_grid>
                    <shipment_item>
                        <table>sales_flat_shipment_item</table>
                    </shipment_item>
                    <shipment_comment>
                        <table>sales_flat_shipment_comment</table>
                    </shipment_comment>
                    <shipment_track>
                        <table>sales_flat_shipment_track</table>
                    </shipment_track>
                    <creditmemo>
                        <table>sales_flat_creditmemo</table>
                    </creditmemo>
                    <creditmemo_grid>
                        <table>sales_flat_creditmemo_grid</table>
                    </creditmemo_grid>
                    <creditmemo_item>
                        <table>sales_flat_creditmemo_item</table>
                    </creditmemo_item>
                    <creditmemo_comment>
                        <table>sales_flat_creditmemo_comment</table>
                    </creditmemo_comment>
                    <recurring_profile>
                        <table>sales_recurring_profile</table>
                    </recurring_profile>
                    <recurring_profile_order>
                        <table>sales_recurring_profile_order</table>
                    </recurring_profile_order>
                    <order_tax>
                        <table>sales_order_tax</table>
                    </order_tax>
                    <order_item_option>
                        <table>sales_flat_order_item_option</table>
                    </order_item_option>
                    <order_entity>
                        <table>sales_order_entity</table>
                    </order_entity>
                    <order_aggregated_created>
                        <table>sales_order_aggregated_created</table>
                    </order_aggregated_created>
                    <order_aggregated_updated>
                        <table>sales_order_aggregated_updated</table>
                    </order_aggregated_updated>
                    <shipping_aggregated>
                        <table>sales_shipping_aggregated</table>
                    </shipping_aggregated>
                    <shipping_aggregated_order>
                        <table>sales_shipping_aggregated_order</table>
                    </shipping_aggregated_order>
                    <invoiced_aggregated>
                        <table>sales_invoiced_aggregated</table>
                    </invoiced_aggregated>
                    <invoiced_aggregated_order>
                        <table>sales_invoiced_aggregated_order</table>
                    </invoiced_aggregated_order>
                    <refunded_aggregated>
                        <table>sales_refunded_aggregated</table>
                    </refunded_aggregated>
                    <refunded_aggregated_order>
                        <table>sales_refunded_aggregated_order</table>
                    </refunded_aggregated_order>
                    <payment_transaction>
                        <table>sales_payment_transaction</table>
                    </payment_transaction>
                    <bestsellers_aggregated_daily>
                        <table>sales_bestsellers_aggregated_daily</table>
                    </bestsellers_aggregated_daily>
                    <bestsellers_aggregated_monthly>
                        <table>sales_bestsellers_aggregated_monthly</table>
                    </bestsellers_aggregated_monthly>
                    <bestsellers_aggregated_yearly>
                        <table>sales_bestsellers_aggregated_yearly</table>
                    </bestsellers_aggregated_yearly>
                    <billing_agreement>
                        <table>sales_billing_agreement</table>
                    </billing_agreement>
                    <billing_agreement_order>
                        <table>sales_billing_agreement_order</table>
                    </billing_agreement_order>
                </entities>
            </sales_resource>
        </models>